@import '../variables.scss';

@mixin id($back-color) {
    color: currentColor;
    background-color: $back-color;
    border: none;
    cursor: pointer;

    font-size: .7em;

    white-space: nowrap;
    text-align: left;

    &:hover {
        color: $color-E;
        transition: all .3s;
    }
}

@mixin url {
    font-weight: 700;

    overflow: hidden;
    text-overflow: ellipsis;
}

.progress {
    background-color: $color-D2;

    &__title {
        padding: .5em;
    }
}

.scheduler, .processing, .queue {
    &__title {
        padding: .5em;
    }
}

.scheduler {
    &__input {
        display: flex;
        width: 90%;
        margin: auto
    }

    &__field {
        width: 100%;
        border: .2em solid transparent;
        padding-left: .5em;
        outline: none;

        &:focus {
            border-bottom: .2em solid $color-A;
            transition: all .2s;
        }

        &--invalid {
            border-bottom: .2em solid $color-E;

            transition: all .2s;
        }
    }

    &__submit {
        color: $color-E;
        background-color: $color-B;
        
        font-weight: 600;
        cursor: pointer;
        
        padding: .3em;
        border-radius: .3em;

        &:hover {
            background-color: $color-A;
        }
    }
}

.processing {
    &__items {
        list-style: none;
    }
}

.processing-item, .queue-item {
    margin: .2em;
    padding: .2em;
    border-radius: .2em;
}

.processing-item {
    display: grid;
    grid-template-columns: 1fr, min-content;

    color: $color-D;
    background-color: $color-A;

    &:hover {
        // TODO fix blurry transition in chrome?
        transform: scale(1.01);
        transition: all .2s;
    }

    &__info {
        display: grid;
    }

    &__url {
        @include url;
        margin-left: .5rem;
    }
    
    &__id {
        @include id($color-A);
        
        margin-left: .5rem;
        grid-column: 1 / 2;
    }

    &__started {
        grid-column: 1 / 2;
        margin-left: .5em;
        align-self: end;
    }

    &__scheduled {
        font-size: .7em;
        grid-column: 1 / 2;
        margin-left: 1.2em;
        margin-bottom: .5em;
        align-self: end;
    }

    &__progress {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        justify-self: right;
        
        margin: .6em;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;

        width: min-content;
    }
    
    &__done {
        font-size: 2em;
        font-weight: 500;

        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    &__slash {
        color: $color-E;
        font-size: 4em;

        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }

    &__size {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
}

.queue {
    list-style-position: inside;
}

.queue-item {
    color: $color-A;
    background-color: $color-B;
    
    &::marker {
        font-size: 1.5em;
        font-weight: bolder;
    }
    
    &:hover {
        // TODO fix blurry transition in chrome?
        transform: scale(1.01);
        transition: all .2s;
    }
    
    &__content {
        position: relative;
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr) 1.5fr;
        max-width: 90%;
    }

    &__url {
        @include url;
    }

    &__id {
        @include id($color-B);
    }

    &__scheduled {
        align-self: end;
    }

    &__copied {
        position: absolute;
        top: 3.9em;
        right: 0;
        color: $color-E;
        font-size: .6em;
        font-weight: 600;
    }
}